@import "src/theme";

.background {
  width: 100%;
  height: 100%;
  min-height: 558px;
  max-height: 900px;
  position: relative;
}

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    width: 100%;
    height: 42%;
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .card {
      width: 40%;
      max-width: 170px;
      height: 100%;
      position: relative;

      border-radius: 20px;
      box-shadow: 0 0 20px rgba(188, 118, 0, 1);
      background-color: white;

      cursor: pointer;

      &:hover {
        animation: rotate 400ms ease-in-out both;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg) scale(1.1);
        }
        20% {
          transform: rotate(-1deg) scale(1.1);
        }
        40% {
          transform: rotate(2deg) scale(1.1);
        }
        60% {
          transform: rotate(-3deg) scale(1.1);
        }
        80% {
          transform: rotate(2deg) scale(1.1);
        }
        100% {
          transform: rotate(0deg) scale(1.1);
        }
      }

      .card-img {
        height: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        .card-img-bg {
          width: 80px;
          height: 80px;

          border: 1px solid #ddd;
          box-shadow: 0 -2px 5px #ccc;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 40px;
          }
        }
      }

      .card-title {
        text-align: center;
        font-weight: bold;
        color: $primary-text-color;
      }

      .card-body {
        width: 85%;
        margin: 6px auto 0;

        font-size: 12px;
        font-weight: bold;
        color: #7C7171;
        text-align: justify-all;
        word-break: break-word;
      }
    }
  }
}

.gif-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .gif-title {
    width: 70%;
    height: 15%;
    margin: auto;

    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px #bbb;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 27px;
    font-weight: bold;
    color: $primary-text-color;
  }

  .gif {
    width: 100%;
    height: 80%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.placeholder {
  display: none;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 82%;
    height: 80%;

    display: flex;
    justify-content: space-between;

    .cards,
    .gif-container {
      width: 39%;
      height: 100%;
      position: relative;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .container {
    .cards {
      width: 50%;

      .row {
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (max-width: 999px) {

  .bg-image {
    display: none;
  }

  .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
  }

  .cards {
    width: 100vw;
    height: 80%;

    justify-content: space-evenly;

    background-color: #FFAE1B;

    .row {
      margin: auto;
      width: 50%;
    }
  }

  .gif-container {
    height: 20%;

    .gif-title {
      width: 50%;
      height: 50%;
    }
  }

  .gif {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .cards {
    .row {
      width: 70%;
    }
  }
}

@media screen and (max-width: 650px) {
  .placeholder {
    display: block;

    height: 10%;
    width: 100%;
    background-color: #FFAE1B;
  }

  .cards {
    height: 70%;
    justify-content: space-evenly;

    .row {
      width: 90%;
    }
  }
}

@media screen and (max-width: 550px) {
  .gif-container {
    .gif-title {
      width: 80%;
    }
  }

}

@media screen and (max-width: 470px) {
  .cards {

    .row {
      width: 100%;
      height: 44%;
    }

    .card {
      font-size: 14px;
      transform: scale(0.98);
    }
  }
}

@media screen and (max-width: 420px) {
  .cards {
    .row {
      .card {
        .card-body {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .cards {
    .card {
      transform: scale(0.95);
    }
  }
}
