<div class="container">
  <nav>
    <div class="content">
      <div class="title">
        Projects
      </div>
      <div class="btn-back" routerLink="/">
        Back
      </div>
    </div>
  </nav>
  <div class="projects">
    <div class="project" *ngFor="let project of projects">
      <div class="image">
        <img [src]="project.imageLink" alt="Snapshot">
      </div>
      <div class="title">
        {{ project.title }}
      </div>
      <div class="btn-view" (click)="onTakeALookClick(project.longTitle, project.videoId)">
        Take A look
      </div>
    </div>
  </div>
</div>

<app-modal
  width="80%"
  (modalClose)="closeModal()"
  *ngIf="isSpecificProjectSelected"
  class="modal"
>
  <div class="title">{{ longTitle }}</div>
  <div class="body">
    <iframe
      width="100%"
      height="100%"
      [src]="videoUrl"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</app-modal>

