.container {
  width: 100px;
  height: 80px;

  //position: fixed;
  //bottom: 10px;
  //right: 10px;

  display: flex;

  z-index: 5;

  img {
    height: 100%;
    width: 100%;
  }

  .arrow {
    cursor: pointer;
    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
