.container {
  width: 100px;
  height: 80px;

  display: flex;
  justify-content: flex-end;

  z-index: 5;

  img {
    height: 100%;
    width: 100%;
  }

  .arrow {
    cursor: pointer;
    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
